html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "CenturyGothic";
  font-display: swap;
  src: url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CenturyGothic";
  font-display: swap;
  src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2"), url("../fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Fonts */
/* Shadows */
.security__bg-img, .call__bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/*  @media (max-width: $desctop) {
    .grid-carts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 350px);
    }
  }
@media (max-width: $laptop) {
    .grid-carts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 350px);
    }
  } 
@media (max-width: $tablet) {
    .header__menu-inner-links {
      order: 1;
      z-index: 1;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      background-color: red;
    }
    .header__links {
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__button-icon {
      display: block;
    }
    .header__button-label {
      display: none;
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__menu-burger-link {
      order: 2;
      z-index: 2;
      display: block;
    }
    .grid-carts {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, minmax(200px, 400px))
    }
    .grid-carts__cart1 {
        grid-column: 1/3;
      }
  }
  @media (max-width: $tablet) {
    .header__menu-inner-links {
      order: 1;
      z-index: 1;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      background-color: blue;
    }
    .header__links {
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__button-icon {
      display: block;
    }
    .header__button-label {
      display: none;
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__menu-burger-link {
      order: 2;
      z-index: 2;
      display: block;
    }
    .grid-carts {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 350px);
    }
  }
  
  
  
  
  
  
  
  @media (max-width: $mobile) {
    .grid-carts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 350px);
    }
  }
   */
.header__pa-button, .security__button {
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-size: calc(16px + 2 * ((100vw - 320px) / (1024 - 320)));
  padding: 10px;
  margin: auto 0;
  border: 1px solid #ffa500;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__pa-button--hover:hover, .security__button--hover:hover {
  background-color: #ffa500;
  color: white;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__layout {
  margin: 20px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__inner-link-logo {
  display: block;
  width: 190px;
  width: calc(151px + 39 * ((100vw - 320px) / (1024 - 320)));
}

.header__logo {
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-list {
  padding: 0;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  margin: auto 10px;
  list-style: none;
}

.header__menu-item-link {
  text-decoration: none;
  color: black;
  font-size: calc(16px + 2 * ((100vw - 320px) / (1024 - 320)));
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
}

.header__menu-item-link--hover:hover {
  border-bottom: 1px solid #ffa500;
}

.header__burger-button {
  display: none;
  width: 17px;
  height: 15px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  position: relative;
}

.header__burger-arrow {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 49%;
  left: 0;
  background-color: black;
}

.header__burger-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 0;
}

.header__burger-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.header__burger-arrow--js {
  background-color: transparent;
}

.header__pa-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__pa-button-icon {
  margin: auto;
  display: none;
}

.header__burger-button::before,
.header__burger-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
}

.header__burger-button::before {
  top: 0;
}

.header__burger-button::after {
  bottom: 0;
}

.header__burger-button--js::before {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger-button--js::after {
  bottom: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 480px) {
  .header__menu-list {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: blue;
    width: 50%;
    height: 100vh;
    margin: 0;
    z-index: 20;
  }
  .header__menu-item {
    display: block;
  }
  .header__pa-button-anchor {
    display: none;
  }
  .header__pa-button-icon {
    display: inline-block;
  }
  .header__burger-button {
    margin: auto;
    z-index: 21;
    display: block;
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .header__pa-button-anchor {
    display: none;
  }
  .header__pa-button-icon {
    display: inline-block;
  }
}

.b-page {
  background-color: #f3f3f3;
  font-family: "CenturyGothic";
}

.main-title {
  width: 90%;
  font-size: calc(30px + 8 * ((100vw - 320px) / (1024 - 320)));
  font-weight: 400;
  text-align: center;
  margin: calc(10px + 10 * ((100vw - 320px) / (1024 - 320))) auto;
}

.first-screen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-carts {
  margin: auto;
  width: 90%;
  z-index: 3;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (minmax(270px, auto))[3];
      grid-template-rows: repeat(3, minmax(270px, auto));
}

.grid-carts__cart--hover:hover .cart-inner-descr {
  bottom: 0;
}

.grid-carts__cart {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
}

.grid-carts__wrap-image {
  height: 100%;
  position: absolute;
}

.grid-carts__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.cart-inner-descr {
  position: absolute;
  bottom: -65px;
  padding: 0 10px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
}

.cart-inner-descr__descr {
  font-size: 20px;
  color: white;
  width: 100%;
}

.cart-inner-descr__button-test {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #ffa500;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  color: white;
  text-decoration: none;
}

.cart-inner-descr__button-test--hover:hover {
  background-color: #ffa500;
}

.first-cart {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.first-cart__title {
  color: #654321;
  font-size: calc(28px + 20 * ((100vw - 320px) / (1440 - 320)));
  line-height: 1;
  margin: 5px 0 20px 0;
}

.advantge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantge__layout-grid {
  margin: 0 auto;
  width: 90%;
}

.advantge__title {
  font-size: calc(30px + 8 * ((100vw - 320px) / (1024 - 320)));
  font-weight: 400;
  text-align: center;
  margin: calc(10px + 10 * ((100vw - 320px) / (1024 - 320))) auto;
}

.carts-desc {
  width: 90%;
}

.carts-desc__cart {
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 15px auto;
}

.carts-desc__cart:last-child {
  margin: 0 auto;
}

.carts-desc__image {
  width: 100%;
  max-width: 200px;
  margin: 0 20px;
}

.carts-desc__inner-text {
  width: 100%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carts-desc__text-title {
  margin: 0 0 10px 0;
  font-weight: 400;
}

.carts-desc__desc {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

.carts-desc .text--modif {
  text-align: right;
}

.security {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.security__container {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  z-index: 2;
}

.security__bg-separator {
  z-index: 3;
}

.security__title {
  margin: 0;
  font-weight: 400;
}

.security__subtitle {
  margin: 10px auto;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__container {
  margin: auto;
  width: 50%;
}

.questions__title {
  text-align: center;
  font-size: calc(30px + 8 * ((100vw - 320px) / (1024 - 320)));
  font-weight: 400;
  width: 90%;
  margin: calc(10px + 10 * ((100vw - 320px) / (1024 - 320))) auto;
}

.questions__wrap-title-btn {
  padding: 15px 20px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.questions__question-title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.questions__arrow-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.questions__arrow-btn::before, .questions__arrow-btn::after {
  content: "";
  width: 50%;
  height: 2px;
  top: 50%;
  background-color: black;
  position: absolute;
}

.questions__arrow-btn::before {
  left: 2px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.questions__arrow-btn::after {
  right: 3px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.questions__arrow-btn--js {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.questions__answer {
  margin: 0 0 20px 0;
  padding: 10px 20px;
  background-color: white;
}

.questions__answer--js {
  display: none;
}

.call {
  position: relative;
  padding: 20px 0;
}

.call__bg-img {
  z-index: -1;
}

.call__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px;
  margin: 0 auto;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 3px #ffa500;
  color: white;
}

.call__title {
  color: white;
  font-size: calc(36px + 6 * ((100vw - 320px) / (1024 - 320)));
  font-weight: 400;
  margin: 0;
}

.call__subtitle {
  font-size: calc(24px + 6 * ((100vw - 320px) / (1024 - 320)));
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 20px 0;
}

.call__subtitle-part {
  color: white;
  font-weight: 700;
}

.call__t-number {
  text-decoration: none;
  color: white;
  margin: 0;
  font-size: calc(52px + 6 * ((100vw - 320px) / (1024 - 320)));
  font-weight: 700;
}

.call__subtitle-part {
  display: block;
}

.call__wrap-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.call__inner-link-icon {
  display: block;
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 15px;
}

.footer__wrap {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  color: white;
  width: 90%;
  margin: 0 auto;
}

.footer__inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list-links {
  padding: 0;
  margin-right: 30px;
}

.footer__list-item {
  list-style: none;
  margin-bottom: 10px;
}

.footer__list-link {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer__list-link-hover:hover {
  color: white;
}

.footer__partner-link {
  display: block;
  height: 100px;
  background-color: blue;
  width: 100px;
}

@media (max-width: 1440px) {
  .grid-carts {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
  .grid-carts__cart1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media (max-width: 1024px) {
  .grid-carts {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (minmax(300px, auto))[6];
        grid-template-rows: repeat(6, minmax(300px, auto));
  }
  .first-cart {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (max-width: 768px) {
  .grid-carts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (minmax(300px, 1fr))[6];
        grid-template-rows: repeat(6, minmax(300px, 1fr));
  }
  .first-cart {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 480px) {
  .grid-carts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (minmax(300px, auto))[11];
        grid-template-rows: repeat(11, minmax(300px, auto));
  }
  .first-cart {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .text--modif {
    text-align: center;
  }
  .carts-desc__cart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .carts-desc__image--modif {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .carts-desc__inner-text {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
}
