html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "CenturyGothic";
  font-display: swap;
  src: url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CenturyGothic";
  font-display: swap;
  src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2"), url("../fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Fonts */
/* Shadows */
.security__bg-img, .call__bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/*  @media (max-width: $desctop) {
    .grid-carts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 350px);
    }
  }
@media (max-width: $laptop) {
    .grid-carts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 350px);
    }
  } 
@media (max-width: $tablet) {
    .header__menu-inner-links {
      order: 1;
      z-index: 1;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      background-color: red;
    }
    .header__links {
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__button-icon {
      display: block;
    }
    .header__button-label {
      display: none;
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__menu-burger-link {
      order: 2;
      z-index: 2;
      display: block;
    }
    .grid-carts {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, minmax(200px, 400px))
    }
    .grid-carts__cart1 {
        grid-column: 1/3;
      }
  }
  @media (max-width: $tablet) {
    .header__menu-inner-links {
      order: 1;
      z-index: 1;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      background-color: blue;
    }
    .header__links {
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__button-icon {
      display: block;
    }
    .header__button-label {
      display: none;
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__menu-burger-link {
      order: 2;
      z-index: 2;
      display: block;
    }
    .grid-carts {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 350px);
    }
  }
  
  
  
  
  
  
  
  @media (max-width: $mobile) {
    .grid-carts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 350px);
    }
  }
   */
.header__pa-button, .security__button {
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  margin: auto 0;
  border: 1px solid #ffa500;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__pa-button--hover:hover, .security__button--hover:hover {
  background-color: #ffa500;
  color: white;
}

.header {
  width: 100%;
}

.header__layout {
  margin: 10px auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__inner-link-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 151px;
}

.header__logo {
  margin: auto;
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-list {
  padding: 0;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  margin: auto 10px;
  list-style: none;
}

.header__menu-item-link {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.2s ease;
  transition: border-bottom 0.2s ease;
}

.header__menu-item-link--hover:hover {
  border-bottom: 1px solid #ffa500;
}

.header__burger-button {
  display: none;
  width: 17px;
  height: 15px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  position: relative;
}

.header__burger-arrow {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 49%;
  left: 0;
  background-color: black;
}

.header__burger-button::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 0;
}

.header__burger-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.header__burger-arrow--js {
  background-color: transparent;
}

.header__pa-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__pa-button-icon {
  margin: auto;
  display: none;
}

.header__burger-button::before,
.header__burger-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
}

.header__burger-button::before {
  top: 0;
}

.header__burger-button::after {
  bottom: 0;
}

.header__burger-button--js::before {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger-button--js::after {
  bottom: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 480px) {
  .header {
    /* &__menu-list {
      position: absolute;
      top: 0;
      right: 0px;
      background-color: blue;
      width: 50%;
      height: 100vh;
      margin: 0;
      z-index: 20;
    } */
  }
  .header__menu-item {
    display: block;
  }
  .header__pa-button-anchor {
    display: none;
  }
  .header__pa-button-icon {
    display: inline-block;
  }
  .header__burger-button {
    margin: auto;
    z-index: 21;
    display: block;
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .header__pa-button-anchor {
    display: none;
  }
  .header__pa-button-icon {
    display: inline-block;
  }
}

.b-page {
  background-color: #f3f3f3;
  font-family: "CenturyGothic";
}

.layout {
  width: 1300px;
  margin: 0 auto;
}

.title {
  margin: 30px 0 40px 0;
  font-size: 48px;
  font-weight: 400;
}

.min-title {
  font-size: 24px;
  margin: 0;
}

.first-screen {
  width: 100%;
}

.first-screen__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[13];
      grid-template-rows: repeat(13, 1fr);
  gap: 10px;
  height: 850px;
      grid-template-areas: "title title seven two" "ten one seven two" "ten one seven two" "ten one seven two" "ten one four three" "ten one four three" "ten six four three" "nine six five three" "nine six five eight" "nine six five eight" "nine six five eight" "nine six five eight" "nine six five eight";
}

.first-screen__title {
  margin: 0;
  font-weight: 400;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  color: #654321;
}

.grid-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.grid-cart__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.grid-cart__cart-descr {
  width: 100%;
  padding: 10px;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.grid-cart__descr-label {
  margin: 0 0 5px 0;
  color: white;
}

.grid-cart__descr-button {
  margin: 0;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-bottom: 1px solid #ffa500;
}

.grid-cart-1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  grid-area: one;
}

.grid-cart-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: two;
}

.grid-cart-3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: three;
}

.grid-cart-4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: four;
}

.grid-cart-5 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 6;
  -ms-grid-column: 3;
  grid-area: five;
}

.grid-cart-6 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 7;
  -ms-grid-column: 2;
  grid-area: six;
}

.grid-cart-7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: seven;
}

.grid-cart-8 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 5;
  -ms-grid-column: 4;
  grid-area: eight;
}

.grid-cart-9 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  grid-area: nine;
}

.grid-cart-10 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  grid-area: ten;
}

.advantge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantge__title {
  text-align: center;
}

.carts-desc {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 50px auto;
}

.carts-desc__image {
  max-width: 200px;
}

.carts-desc__inner-text {
  width: 100%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carts-desc__text-title {
  margin: 0 0 10px 0;
  font-weight: 400;
}

.carts-desc__desc {
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

.carts-desc__inner-text--modif {
  text-align: right;
}

.security {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.security__container {
  max-width: 350px;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  z-index: 2;
}

.security__bg-separator {
  z-index: 3;
}

.security__title {
  font-weight: 400;
}

.security__subtitle {
  margin: 20px auto;
  color: rgba(0, 0, 0, 0.7);
}

.questions__container {
  max-width: 600px;
  margin-bottom: 50px;
}

.questions__title {
  text-align: center;
}

.quest__wrap-title-btn {
  padding: 15px 20px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.quest__question-title {
  margin: 0 10px 0 0;
  font-weight: 400;
  font-size: 24px;
}

.quest__arrow-btn {
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.quest__arrow-btn::before, .quest__arrow-btn::after {
  content: "";
  width: 50%;
  height: 2px;
  top: 50%;
  background-color: black;
  position: absolute;
}

.quest__arrow-btn::before {
  left: 2px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.quest__arrow-btn::after {
  right: 3px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.quest__arrow-btn--js {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.quest__answer {
  margin: 0 0 20px 0;
  padding: 10px 20px;
  background-color: white;
}

.quest__answer--js {
  display: none;
}

.call {
  position: relative;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.call__wrap {
  position: relative;
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #ffa500;
  color: white;
}

.call__inner-text {
  margin: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.call__title {
  margin: 0;
}

.call__subtitle {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.call__wrap-number {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 800px;
          flex: 0 0 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call__inner-number {
  margin-right: 30px;
}

.call__inner-number:last-child {
  margin: 0;
}

.call__name {
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.call__t-number {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 42px;
}

@media (max-width: 1306px) {
  .call__wrap {
    padding: 20px;
  }
  .call__inner-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 320px;
            flex: 0 1 320px;
  }
  .call__title {
    margin: 0;
  }
  .call__subtitle {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
  }
  .call__wrap-number {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 306px;
            flex: 0 0 306px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .call__inner-number {
    margin: 0;
  }
  .call__name {
    font-size: 26px;
    margin: 0 0 10px;
  }
  .call__t-number {
    font-size: 38px;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 15px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin: 0;
  color: white;
  font-weight: 700;
}

.footer__inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list-links {
  padding: 0;
  margin-right: 30px;
}

.footer__list-item {
  list-style: none;
  margin-bottom: 10px;
}

.footer__list-link {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer__list-link-hover:hover {
  color: white;
}

.footer__partner-link {
  display: block;
  height: 100px;
  background-color: blue;
  width: 100px;
}

@media (max-width: 1440px) {
  .layout {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: calc(30px + 18 * ((100vw - 320px) / 448));
  }
  .min-title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 448));
  }
  .advantge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantge__title {
    text-align: center;
  }
  .carts-desc {
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 50px auto;
  }
  .carts-desc__image {
    max-width: 150px;
  }
  .carts-desc__inner-text {
    margin: 0 20px 0 0;
  }
  .carts-desc__text-title {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: calc(20px + 4 * ((100vw - 320px) / 1120));
  }
  .carts-desc__desc {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
  }
  .carts-desc__inner-text--modif {
    text-align: right;
    margin: 0 0 0 20px;
  }
  .call__wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .call__inner-text {
    margin: 0 0 30px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .call__title {
    margin: 0 0 10px 0;
  }
  .call__subtitle {
    font-size: 24px;
  }
  .call__wrap-number {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .call__inner-number {
    margin-bottom: 20px;
  }
  .call__inner-number:last-child {
    margin: 0;
  }
  .call__name {
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 5px 0;
  }
  .call__t-number {
    font-size: 38px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 30px;
  }
  .min-title {
    font-size: 20px;
  }
  .advantge {
    width: 100%;
  }
  .carts-desc {
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto 50px auto;
    text-align: center;
  }
  .carts-desc__image {
    width: 70%;
    margin: 0 0 10px 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .carts-desc__inner-text {
    width: 270px;
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .carts-desc__text-title {
    font-size: 20px;
    margin: 0 0 5px 0;
    font-weight: 400;
  }
  .carts-desc__desc {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
  }
  .carts-desc__inner-text--modif {
    margin: 0;
    text-align: center;
  }
  .call__wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .call__inner-text {
    margin: 0 0 30px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .call__title {
    margin: 0 0 10px 0;
  }
  .call__subtitle {
    font-size: calc(18px + 6 * ((100vw - 320px) / 160));
  }
  .call__wrap-number {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .call__inner-number {
    margin-bottom: 20px;
  }
  .call__inner-number:last-child {
    margin: 0;
  }
  .call__name {
    font-size: calc(20px + 6 * ((100vw - 320px) / 160));
  }
  .call__t-number {
    font-size: calc(28px + 10 * ((100vw - 320px) / 160));
  }
}
