.header {
  width: 100%;
  &__layout {
    margin: 10px auto!important;
    display: flex;
    justify-content: space-between;
  }

  &__inner-link-logo {
    display: flex;
    width: 151px;
  }

  &__logo {
    margin: auto;
    width: 100%;
  }

  &__menu {
    display: flex;
  }

  &__menu-list {
    padding: 0;
    margin-right: 30px;
    display: flex;
  }

  &__menu-item {
    margin: auto 10px;
    list-style: none;
  }

  &__menu-item-link {
    text-decoration: none;
    color: black;
    
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
  }

  &__menu-item-link--hover:hover {
    border-bottom: 1px solid $color-primary;
  }

  &__burger-button {
    display: none;
    width: 17px;
    height: 15px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    position: relative;
  }
  &__burger-arrow {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 49%;
    left: 0;
    background-color: black;
  }
  &__burger-button::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 0;
  }
  &__burger-button::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
  }

  &__burger-arrow--js {
    background-color: transparent;
  }

  &__pa-button {
    @extend %main-button;
    display: flex;
  }

  &__pa-button--hover:hover {
    @extend %main-button-hover;
  }

  &__pa-button-icon {
    margin: auto;
    display: none;
  }
}
.header__burger-button::before,
.header__burger-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
}
.header__burger-button::before {
  top: 0;
}
.header__burger-button::after {
  bottom: 0;
}
.header__burger-button--js::before {
  top: 50%;
  transform: rotate(-45deg);
}
.header__burger-button--js::after {
  bottom: 45%;
  transform: rotate(45deg);
}
@media screen and (max-width: $mobile + px) {
  .header {
    &__layout {
    }

    &__inner-link-logo {
    }

    &__logo {
    }

    &__menu {
    }

    /* &__menu-list {
      position: absolute;
      top: 0;
      right: 0px;
      background-color: blue;
      width: 50%;
      height: 100vh;
      margin: 0;
      z-index: 20;
    } */

    &__menu-item {
      display: block;
    }

    &__menu-item-link {
    }

    &__menu-item-link--hover {
    }

    &__pa-button {
    }

    &__pa-button--hover {
    }
    &__pa-button-anchor {
      display: none;
    }
    &__pa-button-icon {
      display: inline-block;
    }
    &__burger-button {
      margin: auto;
      z-index: 21;
      display: block;
      outline: none;
    }
    &__burger-arrow {
    }
  }
}
@media screen and (max-width: $tablet + px) {
  .header {
    &__layout {
    }

    &__inner-link-logo {
    }

    &__logo {
    }

    &__menu {
    }

    &__menu-list {
    }

    &__menu-item {
    }

    &__menu-item-link {
    }

    &__menu-item-link--hover {
    }

    &__pa-button {
    }

    &__pa-button--hover {
    }
    &__pa-button-anchor {
      display: none;
    }
    &__pa-button-icon {
      display: inline-block;
    }

    &__burger-button {
    }

    &__burger-arrow {
    }
  }
}
