.header {
  width: 100%;
  display: flex;
  &__layout {
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  &__inner-link-logo {
    display: block;
    width: 190px;
    @include calculate-size(width,190,151,1440);
  }

  &__logo {
    width: 100%;
  }

  &__menu {
    display: flex;
  }

  &__menu-list {
    padding: 0;
    margin-right: 30px;
  }

  &__menu-item {
    display: inline-block;
    margin: 0 10px;
    list-style: none;
  }

  &__menu-item-link {
    text-decoration: none;
    color: black;
    @include calculate-size(font-size,18,16,1440);
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease;
  }

  &__menu-item-link--hover:hover {
    border-bottom: 1px solid $color-primary;
  }

  &__burger-button {
    display: none;
    width: 17px;
    height: 15px;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
  }
  &__burger-arrow {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 49%;
    left: 0;
    background-color: black;

  }
  &__burger-button::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 0; 
  }
  &__burger-button::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0; 
  }

  &__burger-arrow--js {
    background-color: transparent;
  }

  &__pa-button {
    text-decoration: none;
    color: black;
    border: 1px solid $color-primary;
    display: block;
    padding: 10px 10px;
    margin: auto 0;
    @include calculate-size(font-size,18,16,1440);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  &__pa-button-text {
    color: black;
  }
  &__pa-button--hover:hover {
    background-color: $color-primary;
    color: white;
  }

  &__pa-button-icon {
    display: none;
  }
}
.header__burger-button::before,
.header__burger-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
}
.header__burger-button::before {
  top: 0; 
}
.header__burger-button::after {
  bottom: 0; 
}
.header__burger-button--js::before {
  top:50%;
  transform: rotate(-45deg);
}
.header__burger-button--js::after {
  bottom: 45%;
  transform: rotate(45deg);
}
@media screen and (max-width: $mobile + px) {
  .header {
		&__layout {
		}

		&__inner-link-logo {
		}

		&__logo {
		}

		&__menu {
		}

		&__menu-list {
		}

		&__menu-item {
		}

		&__menu-item-link {
		}

		&__menu-item-link--hover {
		}

		&__pa-button {
		}

		&__pa-button--hover {
		}
    &__pa-button-anchor {
      display: none;
    }
		&__pa-button-icon {
      display: inline-block;
		}

		&__burger-button {
		}

		&__burger-arrow {
		}
}

}