@import "core-style/_core.scss";
.b-page {
  background-color: $color-bg;
  overflow-y: scroll;
  font-family: "CenturyGothic";
}

.first-screen {
  width: 100%;
  display: flex;
  &__layout-grid {
  }
}
.grid-carts {
  margin: auto;
  width: 90%;
  z-index: 3;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 350px);
  &__cart--hover:hover .cart-inner-descr {
    transition: 0.3s ease;
    bottom: 0;
  }
  &__cart {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 15px 0px rgba(0%, 0%, 0%, 0.25);
    transition: 0.3s ease;
  }
  &__wrap-image {
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  &__cart1 {
    grid-column: 1/3;
  }

  &__cart1-main-title {
    color: $color-rarely;
    @include calculate-size(font-size,36, 30,1440);
    margin: 10px 0 20px 0;
  }

  &__cart1-desc-missions {
  }
  &__cart1-desc-list {
    list-style: none;
  }
  &__cart1-list-item {
  }
  .cart-inner-descr {
    position: absolute;
    bottom: -65px;
    padding: 0 10px 20px 20px;
    box-sizing: border-box;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: 0.3s ease;

    &__descr {
      font-size: 20px;
      color: white;
      width: 100%;
    }

    &__link-test {
      display: inline-block;
      padding: 10px 25px;
      border: 1px solid $color-primary;
      @include reset-link(white);
    }
  }
}
.advantge {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__layout-grid {
    margin: 0 auto;
    width: 90%;
  }

  &__title {
    width: 90%;
    @include calculate-size(font-size,48,30,1440);
    font-weight: 400;
    text-align: center;
  }
}
.carts-desc {
  max-width: 600px;

  &__cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__image--modif {
  }
  &__image {
    width: 200px;
  }

  &__inner-text {
  }
  &__text-title {
    margin: 0;
  }
  &__desc {
  }
}
.text--modif {
  text-align: right;
}
@media (max-width: $desctop) {
  .grid-carts {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 350px);
  }
  .grid-carts__cart1 {
    grid-column: 1/4;
  }
}
@media (max-width: $laptop) {
  .header__menu-inner-links {
    order: 1;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: red;
  }
  .header__links {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
  }
  .header__button-icon {
    display: block;
  }
  .header__button-label {
    display: none;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
  }
  .header__menu-burger-link {
    order: 2;
    z-index: 2;
    display: block;
  }
  .grid-carts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, minmax(200px, 400px));
  }
  .grid-carts__cart1 {
    grid-column: 1/3;
  }
}
@media (max-width: $tablet) {
  .header__menu-inner-links {
    order: 1;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: blue;
  }
  .header__links {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
  }
  .header__button-icon {
    display: block;
  }
  .header__button-label {
    display: none;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
  }
  .header__menu-burger-link {
    order: 2;
    z-index: 2;
    display: block;
  }
  .grid-carts {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 350px);
  }
}

@media (max-width: $mobile) {
  .grid-carts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, minmax(300px, auto));
  }
  .grid-carts__cart1 {
    grid-column: 1/2;
  }
  .text--modif {
    text-align: center;
  }
  .carts-desc__cart {
    justify-content: center;
    flex-wrap: wrap;
  }
  .carts-desc____image--modif {
    order: 2;
  }
  .carts-desc__inner-text {
    width: 100%;
    order: 1;
    text-align: center;
  }
}
