@import "core-style/_core.scss";
.b-page {
  background-color: $color-bg;
  font-family: "CenturyGothic";
}

.first-screen {
  width: 100%;
  display: flex;
  &__grid {
  }
}
.grid-carts {
  margin: auto;
  width: 90%;
  z-index: 3;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(270px, auto));
  &__cart--hover:hover .cart-inner-descr {
    transition: 0.3s ease;
    bottom: 0;
  }
  &__cart {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 15px 0px rgba(0%, 0%, 0%, 0.25);
    transition: 0.3s ease;
  }
  &__wrap-image {
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.cart-inner-descr {
  position: absolute;
  bottom: -65px;
  padding: 0 10px 20px 20px;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: 0.3s ease;

  &__descr {
    font-size: 20px;
    color: white;
    width: 100%;
  }

  &__button-test {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid $color-primary;
    transition: background-color 0.3s ease;
    @include reset-link(white);
  }
  &__button-test--hover:hover {
    background-color: $color-primary;
  }
}

.first-cart {
  grid-column: 1/3;
  &__title {
    color: $color-rarely;
    @include calculate-size(font-size, 48, 28, $desctop);
    line-height: 1;
    margin: 5px 0 20px 0;
  }
  &__subtitle {
  }
}

.advantge {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  &__layout-grid {
    margin: 0 auto;
    width: 90%;
  }

  &__title {
    width: 90%;
    @include calculate-size(font-size, 48, 30, $laptop);
    font-weight: 400;
    text-align: center;
  }
}
.carts-desc {
  width: 90%;
  &__cart {
    width: 55%;
    display: flex;
    margin: 0 auto 15px auto;
  }

  &__image--modif {
  }
  &__image {
    width: 150px;
    margin: 0 20px;
  }

  &__inner-text {
  }
  
  &__text-title {
    margin: 0;
  }
  &__desc {
    margin: 0;
  }
  .text--modif {
    text-align: right;
  }
}
.security {
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  background-image: url(/images/security-bg-img.avif);
  background-size: cover;
  background-position: center;
  &__container {
    margin: 20px auto;
    text-align: center;

  }
  &__bg-separator {
  }
  &__bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  &__title {
    margin: 0;
  }

  &__subtitle {
    width: 50%;
    margin: 10px auto;
    text-align: center;
  }
  &__button {
    @extend %main-button;
  }
  &__button--hover:hover {
    @extend %main-button-hover;
  }
}
.questions {
  &__container {
  }

  &__container--js {
  }

  &__title {
  }

  &__inner-question {
  }

  &__wrap-title-btn {
  }

  &__wrap-title-btn--js {
  }

  &__question-title {
  }

  &__arrow-btn {
  }

  &__answer {
  }

  &__answer--js {
  }
}
.call {

  &__wrap {
  }

  &__inner-text {
  }

  &__title {
  }

  &__subtitle {
  }

  &__t-number {
  }

  &__inner-links {
  }

  &__subtitle-part {
  }

  &__links {
  }
}
.footer {

  &__title {
  }

  &__inner-links {
  }

  &__list-links {
  }

  &__list-item {
  }

  &__list-link {
  }

  &__link-partner {
  }
}


@media (max-width: $desctop + px) {
  .grid-carts {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .grid-carts__cart1 {
    grid-column: 1/4;
  }
}
@media (max-width: $laptop + px) {
  .grid-carts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, minmax(300px, auto));
  }
  .first-cart {
    grid-column: 1/2;
  }
}
@media (max-width: $tablet + px) {
  .grid-carts {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, minmax(300px, 1fr));
  }
  .first-cart {
    grid-column: 1/3;

  }
}

@media (max-width: $mobile + px) {
  .grid-carts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, minmax(300px, auto));
  }
  .first-cart {
    grid-column: 1/2;
  }
  .text--modif {
    text-align: center;
  }
  .carts-desc__cart {
    justify-content: center;
    flex-wrap: wrap;
  }
  .carts-desc__image--modif {
    order: 2;
  }
  .carts-desc__inner-text {
    width: 100%;
    order: 1;
    text-align: center;
  }
}
