@import "core-style/_core.scss";
.b-page {
  background-color: $color-bg;
  font-family: "CenturyGothic";
}
.main-title {
  width: 90%;
  @include calculate-size(font-size, 38, 30, $laptop);
  font-weight: 400;
  text-align: center;
  @include calculate-value(margin, 20, 10, $laptop, auto);
}
.first-screen {
  width: 100%;
  display: flex;
  &__grid {
  }
}
.grid-carts {
  margin: auto;
  width: 90%;
  z-index: 3;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(270px, auto));
  &__cart--hover:hover .cart-inner-descr {
    bottom: 0;
  }
  &__cart {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 15px 0px rgba(0%, 0%, 0%, 0.25);
  }
  &__wrap-image {
    height: 100%;
    position: absolute;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.cart-inner-descr {
  position: absolute;
  bottom: -65px;
  padding: 0 10px 20px 20px;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: bottom $anime-act;

  &__descr {
    font-size: 20px;
    color: white;
    width: 100%;
  }

  &__button-test {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid $color-primary;
    transition: background-color $anime-act;
    color: white;
    text-decoration: none;
  }
  &__button-test--hover:hover {
    background-color: $color-primary;
  }
}

.first-cart {
  grid-column: 1/3;
  &__title {
    color: $color-rarely;
    @include calculate-size(font-size, 48, 28, $desctop);
    line-height: 1;
    margin: 5px 0 20px 0;
  }
  &__subtitle {
  }
}

.advantge {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  &__layout-grid {
    margin: 0 auto;
    width: 90%;
  }

  &__title {
    @include calculate-size(font-size, 38, 30, $laptop);
    font-weight: 400;
    text-align: center;
    @include calculate-value(margin, 20, 10, $laptop, auto);
  }
}
.carts-desc {
  width: 90%;
  &__cart {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 15px auto;
  }
  &__cart:last-child {
    margin: 0 auto;
  }

  &__image--modif {
  }
  &__image {
    width: 100%;
    max-width: 200px;
    margin: 0 20px;
  }

  &__inner-text {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text-title {
    @include calculate-size(font-size,24,20,$laptop);
    margin: 0 0 10px 0;
    font-weight: 400;
  }
  &__desc {
    margin: 0;
  }
  .text--modif {
    text-align: right;
  }
}
.security {
  width: 100%;
  display: flex;
  background: white;
  flex-direction: column;
  position: relative;
  &__container {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    z-index: 2;
  }
  &__bg-separator {
    z-index: 3;
  }
  &__bg-img {
    @extend %bg-image;
  }
  &__title {
    margin: 0;
    font-weight: 400;
  }

  &__subtitle {
    margin: 10px auto;
  }
  &__button {
    @extend %main-button;
  }
  &__button--hover:hover {
    @extend %main-button-hover;
  }
}
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    margin: auto;
    width: 50%;
  }
  &__title {
    text-align: center;
    @include calculate-size(font-size, 38, 30, $laptop);
    font-weight: 400;
    width: 90%;
    @include calculate-value(margin, 20, 10, $laptop, auto);
  }
  &__inner-question {
  }
  &__wrap-title-btn {
    padding: 15px 20px;
    box-shadow: $main-shadow;
    background-color: white;
    display: flex;
    margin: 0 0 20px 0;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__question-title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
  }
  &__arrow-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    transition: transform $anime-act;
  }
  &__arrow-btn::before,
  &__arrow-btn::after {
    content: "";
    width: 50%;
    height: 2px;
    top: 50%;
    background-color: black;
    position: absolute;
  }
  &__arrow-btn::before {
    left: 2px;
    transform: rotate(40deg);
  }
  &__arrow-btn::after {
    right: 3px;
    transform: rotate(-40deg);
  }
  &__arrow-btn--js {
    transform: rotate(180deg);
  }
  &__answer {
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background-color: white;
  }
  &__answer--js {
    display: none;
  }
}
.call {
  position: relative;
  padding: 20px 0;
  &__bg-img {
    @extend %bg-image;
    z-index: -1;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    border: $border-bold;
    color: white;
  }

  &__inner-text {
  }

  &__title {
    color: white;
    @include calculate-size(font-size,42,36,$laptop);
    font-weight: 400;
    margin: 0;
  }
  &__subtitle {
    @include calculate-size(font-size,30,24,$laptop);
    color: rgba(255, 255, 255,0.5);
    margin: 0 0 20px 0;
  }
  &__subtitle-part {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
  }

  &__t-number {
    text-decoration: none;
    color: white;
    margin: 0;
    @include calculate-size(font-size,58,52,$laptop);
    font-weight: 700;
  }

  &__inner-links {
  }

  &__subtitle-part {
    display: block;
  }

  &__wrap-links {
    display: flex;
    flex-wrap: wrap;
  }
  &__inner-link-icon {
    display: block;
  }
}
.footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 15px;
  &__wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: white;
    width: 90%;
    margin: 0 auto;
  }
  &__inner-links {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-links {
    padding: 0;
    margin-right: 30px;
  }

  &__list-item {
    list-style: none;
    margin-bottom: 10px;
  }
  &__list-link {
    color: $cr-dark-bg;
    transition: color $anime-act;
  }
  &__list-link-hover:hover {
    color: rgba(255, 255, 255, 1);
  }
  &__partner-link {
    display: block;
    height: 100px;
    background-color: blue;
    width: 100px;
  }
  &__partner-logo {
  }
}
@media (max-width: $desctop + px) {
  .grid-carts {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .grid-carts__cart1 {
    grid-column: 1/4;
  }
}
@media (max-width: $laptop + px) {
  .grid-carts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, minmax(300px, auto));
  }
  .first-cart {
    grid-column: 1/2;
  }
}
@media (max-width: $tablet + px) {
  .grid-carts {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, minmax(300px, 1fr));
  }
  .first-cart {
    grid-column: 1/3;
  }
}

@media (max-width: $mobile + px) {
  .grid-carts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, minmax(300px, auto));
  }
  .first-cart {
    grid-column: 1/2;
  }
  .text--modif {
    text-align: center;
  }
  .carts-desc__cart {
    justify-content: center;
    flex-wrap: wrap;
  }
  .carts-desc__image--modif {
    order: 2;
  }
  .carts-desc__inner-text {
    width: 100%;
    order: 1;
    text-align: center;
  }
}
