@import "core-style/_core.scss";
.page {
    margin: 0;
    font-family: $fonts-progect;
}
.regist {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
		&__wrap {
            margin: 0 20px
		}
        &__head {
            text-align: center;
            margin: 0 0 20px 0;
		}
		&__title {
            margin: 0;
            
		}

		&__auth {
		}

		&__form {
            padding: 10px;
            box-sizing: border-box;
		}
}
.form {
    border: 2px solid $color-primary;

		&__inner-input {
		}

		&__input {
		}

		&__input-warning {
		}

		&__input-warning--visible {
		}

		&__button-act {
		}

		&__button-act--js {
		}

		&__input--js {
		}

		&__timer-label {
		}

		&__timer--js {
		}

		&__submit {
		}

		&__submit--js {
		}
}
