.header {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  box-shadow: $main-shadow;
  &__container {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
  }
  &__wrap-logo {
    display: flex;
    margin: 0;
  }

  &__logo {
    width: 161px;
    margin: 0 10px 0 0;
  }

  &__inner-desc {
    width: 100px;
    margin: auto;
  }

  &__desc {
    font-size: 20px;
    margin: 0;
    color: $cr-text-second;
    border-left: $border-separator;
    padding: 0 0 0 10px;
  }

  &__container-customer {
  }
}
.customer {
  display: flex;
  justify-content: space-between;
  &__wrap-customer {
    width: 450px;
    margin-right: 70px;
    display: flex;
    padding: 5px 25px;
    box-sizing: border-box;
    box-shadow: $second-shadow;
  }

  &__inner-name {
      margin-right: 20px;
      border-right: $border-separator;
      padding: 0 20px 0 0;
  }

  &__hello {
      margin: 0;
  }

  &__cust-name {
    display: block;
  }

  &__inner-psy {
      display: flex;
  }
  &__wrap-photo {
    width: 37px;
    height: 37px;
    overflow: hidden;
    background: blue;
    border-radius: 50%;
  }
  &__psy-photo {
  }

  &__psy-ad {
      margin: 0 0 0 20px;
  }

  &__psy-name {
    display: block;
  }

  &__button-exit {
      display: flex;
      align-items: center;
      border: $border-separator;
      padding: 0 15px;
      box-sizing: border-box;
      transition: color $anime-act,border $anime-act;
      cursor: pointer;
  }

  &__button-exit--hover:hover {
      border: 1px solid black;
  }
  &__button-exit--hover:hover
  &__button-label--hover {
    color: black;
}

  &__button-label {
      margin: 0 15px 0 0;
      color: $cr-text-second;
      transition: color $anime-act;
  }
  &__button-label--hover {
    
  }
  &__button-icon {
  }
}





@media (max-width: $desctop + px) {
  .header {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: $main-shadow;
    &__container {
      margin: 0 auto;
      width: 90%;
      display: flex;
      justify-content: space-between;
    }
    &__wrap-logo {
      display: flex;
      margin: 0;
    }
  
    &__logo {
      width: 161px;
      margin: 0 10px 0 0;
    }
  
    &__inner-desc {
      width: 100px;
      margin: auto;
    }
  
    &__desc {
      font-size: 20px;
      margin: 0;
      color: $cr-text-second;
      border-left: $border-separator;
      padding: 0 0 0 10px;
    }
  
    &__container-customer {
    }
  }
  .customer {
    display: flex;
    min-width: 50%;
    justify-content: space-between;
    &__wrap-customer {
      min-width: 70%;
      margin-right: 50px;
      display: flex;
      padding: 5px 25px;
      box-sizing: border-box;
      box-shadow: $second-shadow;
    }
  
    &__inner-name {
        margin-right: 20px;
        border-right: $border-separator;
        padding: 0 20px 0 0;
    }
  
    &__hello {
        margin: 0;
    }
  
    &__cust-name {
      display: block;
    }
  
    &__inner-psy {
        display: flex;
    }
    &__wrap-photo {
      width: 37px;
      height: 37px;
      overflow: hidden;
      background: blue;
      border-radius: 50%;
    }
    &__psy-photo {
    }
  
    &__psy-ad {
        margin: 0 0 0 20px;
    }
  
    &__psy-name {
      display: block;
    }
  
    &__button-exit {
        display: flex;
        align-items: center;
        border: $border-separator;
        padding: 0 15px;
        box-sizing: border-box;
        transition: color $anime-act,border $anime-act;
        cursor: pointer;
    }
  
    &__button-exit--hover:hover {
        border: 1px solid black;
    }
    &__button-exit--hover:hover
    &__button-label--hover {
      color: black;
  }
  
    &__button-label {
        margin: 0 15px 0 0;
        color: $cr-text-second;
        transition: color $anime-act;
    }
    &__button-label--hover {
      
    }
    &__button-icon {
    }
  }
}

@media (max-width: $desctop-min + px) {
  .header {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: $main-shadow;
    &__container {
      margin: 0 auto;
      width: 95%;
      display: flex;
      justify-content: space-between;
    }
    &__wrap-logo {
      display: flex;
      margin: 0;
    }
  
    &__logo {
      width: 161px;
      margin: 0 10px 0 0;
    }
  
    &__inner-desc {
      width: 100px;
      margin: auto;
    }
  
    &__desc {
      font-size: 20px;
      margin: 0;
      color: $cr-text-second;
      border-left: $border-separator;
      padding: 0 0 0 10px;
    }
  
    &__container-customer {
    }
  }
  .customer {
    display: flex;
    min-width: 50%;
    justify-content: space-between;
    &__wrap-customer {
      min-width: 70%;
      margin-right: 50px;
      display: flex;
      padding: 5px 25px;
      box-sizing: border-box;
      box-shadow: $second-shadow;
    }
  
    &__inner-name {
        margin-right: 20px;
        border-right: $border-separator;
        padding: 0 20px 0 0;
    }
  
    &__hello {
        margin: 0;
    }
  
    &__cust-name {
      display: block;
    }
  
    &__inner-psy {
        display: flex;
    }
    &__wrap-photo {
      width: 37px;
      height: 37px;
      overflow: hidden;
      background: blue;
      border-radius: 50%;
    }
    &__psy-photo {
    }
  
    &__psy-ad {
        margin: 0 0 0 20px;
    }
  
    &__psy-name {
      display: block;
    }
  
    &__button-exit {
        display: flex;
        align-items: center;
        border: $border-separator;
        padding: 0 15px;
        box-sizing: border-box;
        transition: color $anime-act,border $anime-act;
        cursor: pointer;
    }
  
    &__button-exit--hover:hover {
        border: 1px solid black;
    }
    &__button-exit--hover:hover
    &__button-label--hover {
      color: black;
  }
  
    &__button-label {
        margin: 0 15px 0 0;
        color: $cr-text-second;
        transition: color $anime-act;
    }
    &__button-label--hover {
      
    }
    &__button-icon {
    }
  }
}

@media (max-width: $laptop + px) {
  .header {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: $main-shadow;
    &__container {
      margin: 0 auto;
      width: 95%;
      display: flex;
      justify-content: space-between;
    }
    &__wrap-logo {
      display: flex;
      margin: 0;
    }
  
    &__logo {
      width: 161px;
      margin: 0 10px 0 0;
    }
  
    &__inner-desc {
      width: 100px;
      margin: auto;
    }
  
    &__desc {
      font-size: 20px;
      margin: 0;
      color: $cr-text-second;
      border-left: $border-separator;
      padding: 0 0 0 10px;
    }
  
    &__container-customer {
    }
  }
  .customer {
    display: flex;
    min-width: 50%;
    justify-content: space-between;
    &__wrap-customer {
      min-width: 70%;
      margin-right: 20px;
      display: flex;
      padding: 5px 25px;
      box-sizing: border-box;
      box-shadow: $second-shadow;
    }
  
    &__inner-name {
        margin-right: 20px;
        border-right: $border-separator;
        padding: 0 20px 0 0;
    }
  
    &__hello {
        margin: 0;
    }
  
    &__cust-name {
      display: block;
    }
  
    &__inner-psy {
        display: flex;
    }
    &__wrap-photo {
      width: 37px;
      height: 37px;
      overflow: hidden;
      background: blue;
      border-radius: 50%;
    }
    &__psy-photo {
    }
  
    &__psy-ad {
        margin: 0 0 0 20px;
    }
  
    &__psy-name {
      display: block;
    }
  
    &__button-exit {
        display: flex;
        align-items: center;
        border: $border-separator;
        padding: 0 15px;
        box-sizing: border-box;
        transition: color $anime-act,border $anime-act;
        cursor: pointer;
    }
  
    &__button-exit--hover:hover {
        border: 1px solid black;
    }
    &__button-exit--hover:hover
    &__button-label--hover {
      color: black;
  }
  
    &__button-label {
      display: none;
    }
    &__button-label--hover {
      
    }
    &__button-icon {
    }
  }
}