@mixin reset-link($color) {
    text-decoration: none; 
    color: $color;
}
@mixin calculate-size($property, $startSize, $minSize, $max-width) {
    $addSize: $startSize - $minSize;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / (#{$max-width} - 320)));
}