/*  @media (max-width: $desctop) {
    .grid-carts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 350px);
    }
  }
@media (max-width: $laptop) {
    .grid-carts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 350px);
    }
  } 
@media (max-width: $tablet) {
    .header__menu-inner-links {
      order: 1;
      z-index: 1;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      background-color: red;
    }
    .header__links {
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__button-icon {
      display: block;
    }
    .header__button-label {
      display: none;
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__menu-burger-link {
      order: 2;
      z-index: 2;
      display: block;
    }
    .grid-carts {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, minmax(200px, 400px))
    }
    .grid-carts__cart1 {
        grid-column: 1/3;
      }
  }
  @media (max-width: $tablet) {
    .header__menu-inner-links {
      order: 1;
      z-index: 1;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      background-color: blue;
    }
    .header__links {
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__button-icon {
      display: block;
    }
    .header__button-label {
      display: none;
      font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (767 - 320)));
    }
    .header__menu-burger-link {
      order: 2;
      z-index: 2;
      display: block;
    }
    .grid-carts {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 350px);
    }
  }
  
  
  
  
  
  
  
  @media (max-width: $mobile) {
    .grid-carts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, 350px);
    }
  }
   */